{% extends "base.html" %} {% block content %}
<body class="blog bg-gray-100">
  <script type="module">
    import { getHighlighter } from "https://esm.sh/shiki@1.0.0-beta.0";

    async function highlightCodeWithShiki() {
      const codeElements = document.querySelectorAll("code");

      const highlighter = await getHighlighter({
        themes: ["github-light"],
        langs: [
          "yaml",
          "bash",
          "python",
          "markdown",
          "dockerfile",
          "toml",
          "html",
          "rust",
          "jsx",
          "sql",
          "json",
        ],
      });

      codeElements.forEach(async (codeElement) => {
        const codeContent = codeElement.textContent;
        const language = codeElement.className.split("-")[1];

        if (language !== undefined) {
          const highlightedCode = await highlighter.codeToHtml(codeContent, {
            lang: codeElement.className.split("-")[1],
            theme: "github-light",
          });

          const tempDiv = document.createElement("div");
          tempDiv.innerHTML = highlightedCode;

          const preElements = tempDiv.querySelectorAll("pre");
          preElements.forEach((pre) => {
            pre.style.width = "fit-content";
            pre.style.padding = "1em";
            pre.style.margin = "1rem 0";
            pre.style.fontSize = "14px";
            pre.style.borderRadius = "1em";
          });

          codeElement.innerHTML = tempDiv.innerHTML;
          codeElement.style.overflowX = "auto";
          codeElement.style.display = "block";
          codeElement.style.width = "100%";
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {
      highlightCodeWithShiki();
    });
  </script>
  <div
    class="flex justify-center flex-col gap-4 pt-4 px-4 max-w-screen-md mx-auto sm:pt-24"
  >
    <div class="col-span-4 py-2 text-lg">
      <a href="/blogs" class="cursor-pointer hover:bg-purple-500">👈</a>
    </div>
    <header class="font-mono text-2xl text-gray-900 font-black">
      {{ title }}
    </header>
    <div class="font-bold font-mono text-gray-900">{{ date }}</div>
    <div class="font-mono text-gray-900 w-full flex flex-col gap-4">
      {{ body|safe }}
    </div>
    {% include "footer.html" %}
  </div>
</body>
{% endblock %}
