{% extends "base.html" %} {% block content %}
<body class="h-full">
  <script>
    async function highlightCodeWithShiki() {
      const codeElements = document.querySelectorAll("code");

      const highlighter = await shiki.getHighlighter({
        theme: "min-light",
        langs: ["yaml", "bash", "python", "markdown"],
      });

      codeElements.forEach(async (codeElement) => {
        const codeContent = codeElement.textContent;
        const language = codeElement.className.split("-")[1];

        if (language !== undefined) {
          const highlightedCode = await highlighter.codeToHtml(
            codeContent,
            codeElement.className.split("-")[1]
          );

          const tempDiv = document.createElement("div");
          tempDiv.innerHTML = highlightedCode;

          const preElements = tempDiv.querySelectorAll("pre");
          preElements.forEach((pre) => {
            pre.style.width = "fit-content";
            pre.style.padding = "1em";
            pre.style.margin = "1em";
            pre.style.fontSize = "14px";
            pre.style.borderRadius = "1em";
          });

          codeElement.innerHTML = tempDiv.innerHTML;
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {
      highlightCodeWithShiki();
    });
  </script>
  <div class="bg-purple-400 flex flex-col gap-4 p-4">
    <header class="font-mono text-white">{{ title }}</header>
    <div class="font-mono text-white">{{ date }}</div>
    <div class="font-mono text-white">{{ body|safe }}</div>
  </div>
</body>
{% endblock %}
