{% extends "base.html" %} {% block content %}
<body class="h-full">
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.getElementById("startReadingLink").focus();
    });
  </script>
  <div
    class="items-center justify-center w-full h-full flex flex-col bg-gray-900"
  >
    <header
      class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent text-6xl py-8 text-center font-black"
    >
      blog
    </header>
    <a
      id="startReadingLink"
      href="/blogs"
      onclick="window.location.href = this.href;"
      class="font-mono bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-bold py-2 px-4 rounded"
      role="button"
      tabindex="0"
    >
      start reading 📖
    </a>
  </div>
</body>
{% endblock %}
