{% extends "base.html" %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Daniel Steman shares insights on software engineering, tech trends, and development tips.">
    <meta
      name="keywords"
      content="blog, tech, articles, reading, interesting topics"
    />
    <title>Daniel Steman – Tech Blog & Software Insights</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Daniel Steman – Tech Blog",
        "description": "Insights on software development, engineering challenges, and programming tutorials."
        "url": "https://www.danielsteman.com"
      }
    </script>
  </head>
  <body class="h-full">
    <script defer>
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("startReadingLink").focus();
      });
    </script>
    <div
      class="items-center justify-center w-full h-full flex flex-col bg-gray-900"
    >
      <header
        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent text-6xl py-8 text-center font-black"
      >
        Welcome 👋
      </header>
      <a
        id="startReadingLink"
        href="/blogs"
        onclick="window.location.href = this.href;"
        class="font-mono bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-bold py-2 px-4 rounded"
        role="button"
        tabindex="0"
        aria-label="Start reading articles on tech topics"
      >
        start reading 📖
      </a>
    </div>
  </body>
</html>
{% endblock %}
