{% extends "base.html" %} {% block content %}
<body class="h-full bg-gray-100 max-w-screen-md mx-auto py-24">
  <div class="flex flex-col gap-4">
    <header class="font-mono text-xl text-gray-900 font-black py-4">
      Experience
    </header>
    <div class="flex flex-row gap-2">
      <div class="mr-auto">Data Engineer @ company B</div>
      <div class="">October 2023 - present</div>
    </div>
    <div class="flex flex-row gap-2">
      <div class="mr-auto">Software Engineer @ company A</div>
      <div class="">January 2021 - September 2023</div>
    </div>
  </div>
</body>
{% endblock %}
